BREVO_API_KEY=eyJhcGlfa2V5IjoieGtleXNpYi0yODYwNGYxY2UzY2RlYzM2YzVmMzNlYWE0MmRhMjZhZWZhNjFhMmRlY2NjYjY4MTM0YWMwYjExOWM3MGQzOTY2LWpwN3YwRm1ZVkk0NkNEcGsifQ==
CONTACT_TO_EMAIL=ckdevalatkar@gmail.com
CONTACT_FROM_EMAIL=ckdevalatkar@gmail.com
PORT=3000
